[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "i3blocks-contrib"]
	path = i3blocks/blocklets
	url = https://github.com/vivien/i3blocks-contrib
